#!/usr/bin/env bash

{{- if (eq .chezmoi.os "darwin") }}
type brew &> /dev/null || curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh
{{- end }}

if command -v fish &> /dev/null
then
  echo "fish already installed"
  exit
fi

{{- if (eq .chezmoi.os "darwin") }}
brew install fish
{{- end }}

{{- if (eq .chezmoi.os "linux") }}
export DEBIAN_FRONTEND=noninteractive
  {{- if (eq .chezmoi.osRelease.id "ubuntu") }}
apt-add-repository -y ppa:fish-shell/release-3
apt-get update
apt-get -yq install fish
  {{- else if (eq .chezmoi.osRelease.id "debian") }}
apt-get update
apt-get -yq install fish
  {{- else if or (eq .chezmoi.osRelease.id "fedora") (eq .chezmoi.osRelease.id "rocky") (contains "rhel" .chezmoi.osRelease.idLike) }}
dnf -yq install fish
  {{- end }}
{{- end }}
